@import "../../themes";

nb-card-header {
  position: relative;
  display: flex;
}

nb-badge {
  font-size: 1rem;
  line-height: 1rem;
}

nb-list nb-list-item {
  padding: 0;
  border: none;
  line-height: 0;
  font-size: 0;
}

nb-toggle {
  margin: -8px 0 -15px auto;
}
