<nb-card status="info" size="medium">
  <nb-card-header>Tasks</nb-card-header>
  <nb-card-body
    ><h5>Dashclicker</h5>
    <p class="subtitle">
      This is a prototype of the new version of
      <strong>Dashclicker</strong>.
    </p>
    <p>
      Follow
      <a href="https://reddit.com/r/dashclicker" target="_blank"
        >r/Dashclicker</a
      >
      for the latest updates.
    </p>
    <p>
      You can also
      <a href="https://github.com/armn/dashclicker" target="_blank"
        >view the source code on GitHub.</a
      >
    </p></nb-card-body
  >
  <nb-card-footer></nb-card-footer>
</nb-card>
