<div class="row">
  <app-click-item
    class="col-sm-3"
    type="clicks"
    itemName="click(s)"
    cardTitle="Clicks"
  ></app-click-item>
  <app-click-item
    class="col-sm-3"
    type="value"
    itemName="value"
    cardTitle="Click value"
  ></app-click-item>
  <app-click-item
    class="col-sm-3"
    type="auto"
    itemName="clicker"
    cardTitle="Auto clickers"
  ></app-click-item>
  <app-click-item
    class="col-sm-3"
    type="multiplier"
    itemName="multiplier"
    cardTitle="Multiplier"
  ></app-click-item>
</div>
