<nb-card status="success" size="large">
  <nb-card-header class="projects-header"
    >Projects
    <button nbButton status="warning" size="small" (click)="generateProject()">
      Generate
    </button></nb-card-header
  >
  <nb-list>
    <nb-list-item *ngFor="let project of this.ps.availableProjects()">
      <div class="project-item row">
        <div class="col-auto col-sm-1"><small>#</small>{{ project.id }}</div>
        <div class="col-8 col-sm-7">
          <div class="requirements">
            <span class="visits">
              <span>{{ project.visits | numbers }}</span>
            </span>
            <span class="views">
              <span>{{ project.views | numbers }}</span>
            </span>
            <span class="reads">
              <span>{{ project.reads | numbers }}</span>
            </span>
            <span class="shares">
              <span>{{ project.shares | numbers }}</span>
            </span>
            <span class="downloads">
              <span>{{ project.downloads | numbers }}</span>
            </span>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <h5 class="money">$ {{ project.money | numbers }}</h5>
        </div>
        <div class="col-12 col-sm-1 text-right">
          <button
            nbButton
            status="success"
            (click)="complete(project)"
            [disabled]="canComplete(project)"
          >
            <nb-icon icon="checkmark"></nb-icon>
          </button>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
