<nb-card status="success" size="giant">
  <nb-card-header>Projects</nb-card-header>
  <nb-card-body></nb-card-body>
  <nb-card-footer>
    <div class="row align-items-center">
      <div class="col">
        <nb-progress-bar
          [value]="50"
          size="giant"
          displayValue="true"
          status="primary"
        >
        </nb-progress-bar>
      </div>
      <div class="col-auto">
        <button nbButton size="medium" status="primary">Complete</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
