@import "../../themes";

nb-card-header {
  display: flex;
  align-items: center;

  button {
    margin-left: auto;
  }
}

.market {
  table-layout: fixed;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0;
  thead th {
    border: none;
  }
}

.market-entry.true {
  background: nb-theme(color-success-100);
}

@media (max-width: 576px) {
  table thead {
    display: none;
  }
}
