.icons-card {
  padding: 0.6rem 1.5rem;
}

.icons {}

.icon {
  display: inline-block;
  position: relative;
  margin-right: 10px;

  nb-icon {
    font-size: 2rem;
    margin: 0 !important;
  }

  button {
    position: relative;
  }
}

.icons-popover {
  padding: 10px;
}
