@import '../../../themes';

.actions {
  button {
    margin-left: 8px;
    margin-bottom: 5px;
  }
}

td {
  vertical-align: middle;
}

.offer span {
  padding: 6px 10px;
  font-family: "Bahnschrift";

}

@media (max-width: 576px) {
  td {
    border: none;
  }
}

.terrible,
.average,
.excellent,
.good,
.bad {
  border-radius: 50px;
}

.terrible {
  background: nb-theme(color-danger-400);
}

.bad {
  background: nb-theme(color-danger-200);
}

.average {
  background: nb-theme(color-success-200);
}

.good {
  background: nb-theme(color-success-400);
}

.excellent {
  background: nb-theme(color-success-600);
}
