<nb-layout>
  <nb-layout-header>
    <div class="header-container">
      <div class="logo">
        <button nbButton size="medium" status="warning">
          <span>Dashclicker</span>
        </button>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <app-clicks></app-clicks>
    <app-market></app-market>
    <div class="row">
      <div class="col-sm-6">
        <app-analytics></app-analytics>
      </div>
      <div class="col-sm-6">
        <app-tasks></app-tasks>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <app-assets></app-assets>
        <app-wallet></app-wallet>
      </div>
      <div class="col-sm-8">
        <app-projects></app-projects>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-boosts></app-boosts>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col">
        <app-companies></app-companies>
      </div>
    </div> -->
  </nb-layout-column>

  <nb-layout-footer>
    <div class="footer">
      <small
        >Visit
        <a href="https://reddit.com/r/Dashclicker" target="_blank"
          >r/Dashclicker</a
        >
        for the latest updates! <br />You can also view the source code on
        <a href="https://github.com/armn/Dashclicker" target="_blank">GitHub</a
        >.
      </small>
      <button nbButton (click)="openHelp()">Help</button>
    </div>
  </nb-layout-footer>
</nb-layout>
