@import "../themes";

.logo {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  span {
    font-family: "Bahnschrift";
    font-weight: normal;
    font-size: 1.2rem;
  }
}

.kofi {
  display: inline-block;
  margin-right: 10px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-direction: row;
}
.alert {
  text-align: center;
  background: white;
  outline: 1px solid black;
  margin: 5px;
  padding: 5px;
  p {
    margin: 0;
    padding: 0;
  }
}
