<nb-layout>
  <nb-layout-header>
    <div class="logo">
      <button nbButton size="medium" status="warning">
        <span>Dashclicker</span>
      </button>
    </div>
    <!-- <nb-actions>
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="edit-outline"></nb-action>
    </nb-actions> -->
  </nb-layout-header>

  <nb-layout-column>
    <app-clicks></app-clicks>
    <app-market></app-market>
    <div class="row">
      <div class="col-sm-6">
        <app-analytics></app-analytics>
      </div>
      <div class="col-sm-6">
        <app-tasks></app-tasks>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <app-wallet></app-wallet>
        <app-orders></app-orders>
      </div>
      <div class="col-sm-8">
        <app-trading></app-trading>
      </div>
    </div>

    <app-projects></app-projects>
  </nb-layout-column>

  <nb-layout-footer>
    <div class="footer">
      <a href="https://ko-fi.com/S6S21H5F7" target="_blank" class="kofi">
        <img
          src="./assets/images/kofi.png"
          alt="Support me on Ko-fi"
          title="Support me on Ko-fi"
      /></a>
      <button nbButton>About</button>
    </div>
  </nb-layout-footer>
</nb-layout>
