<nb-layout>
  <nb-layout-header>
    <div class="header-container">
      <div class="logo">
        <button nbButton size="medium" status="warning">
          <span>Dashclicker</span>
        </button>
      </div>
      <!-- 
      <div [nbContextMenu]="userMenu">
        <nb-icon icon="person"></nb-icon> {{ user?.email }}
      </div> -->
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <app-clicks></app-clicks>
    <app-market></app-market>
    <div class="row">
      <div class="col-sm-6">
        <app-analytics></app-analytics>
      </div>
      <div class="col-sm-6">
        <app-tasks></app-tasks>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <app-assets></app-assets>
        <app-wallet></app-wallet>
      </div>
      <div class="col-sm-8">
        <app-projects></app-projects>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-boosts></app-boosts>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer>
    <div class="footer">
      <!-- <small>
        Feeling stuck? Try depositing in your Wallet and going for a new run by
        reloading the page — this should allow you to progress further.
      </small> -->
      <small
        >Visit
        <a href="https://reddit.com/r/Dashclicker" target="_blank"
          >r/Dashclicker</a
        >
        for the latest updates! <br />You can also view the source code on
        <a href="https://github.com/armn/Dashclicker" target="_blank">GitHub</a
        >.</small
      >
      <a
        href="https://ko-fi.com/S6S21H5F7"
        target="_blank"
        class="kofi"
        (click)="logClick()"
      >
        <img
          src="./assets/images/kofi.png"
          alt="Support me on Ko-fi"
          title="Support me on Ko-fi"
      /></a>
      <!-- <button nbButton>About</button> -->
    </div>
  </nb-layout-footer>
</nb-layout>
