<nb-card status="primary" size="medium">
  <nb-card-header>Analytics</nb-card-header>
  <nb-list>
    <nb-list-item>
      <app-analytics-item [measurement]="analytics.visits"></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item [measurement]="analytics.views"></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item [measurement]="analytics.reads"></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item [measurement]="analytics.shares"></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.downloads"
      ></app-analytics-item>
    </nb-list-item>
  </nb-list>
  <nb-card-footer></nb-card-footer>
</nb-card>
