<nb-card status="primary" size="medium">
  <nb-card-header>Analytics</nb-card-header>
  <nb-card-body class="overflow-hidden">
    <div class="row">
      <div class="col-sm-6 subtitle-2">Measurement</div>
      <div class="col-sm-4 subtitle-2">Generators</div>
      <div class="col-sm-2 text-right subtitle-2">Actions</div>
    </div>
  </nb-card-body>
  <nb-list>
    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.visits"
        analytic="visits"
      ></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.views"
        analytic="views"
      ></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.reads"
        analytic="reads"
      ></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.shares"
        analytic="shares"
      ></app-analytics-item>
    </nb-list-item>

    <nb-list-item>
      <app-analytics-item
        [measurement]="analytics.downloads"
        analytic="downloads"
      ></app-analytics-item>
    </nb-list-item>
  </nb-list>
</nb-card>
