<nb-card status="warning" size="small">
  <nb-card-header
    >Wallet
    <span *ngIf="this.user && this.user.name"> ({{ this.user.name }}) </span>
    <nb-icon
      icon="question-mark"
      nbTooltip="Creating an account will allow you to to save your progress betweeen games."
      class="text-right"
    ></nb-icon>
  </nb-card-header>
  <nb-card-body *ngIf="!this.fb.user">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Login"> <app-login></app-login></nb-tab>
      <nb-tab tabTitle="Register"> <app-register></app-register></nb-tab>
    </nb-tabset>
  </nb-card-body>
  <nb-card-body *ngIf="this.fb.user">
    <div class="load" *ngIf="!this.user">
      <button nbButton status="primary" (click)="wallet()">
        Load wallet
      </button>
    </div>
    <div *ngIf="this.user">
      <div class="row">
        <div class="col col-sm-8">
          <ul class="wallet">
            <li>
              <span>{{ this.user.clicks | numbers }}</span
              >/{{ this.user.clicksMax | numbers }}
              <small>clicks</small>
            </li>
            <li>
              <span>{{ this.user.visits | numbers }}</span
              >/{{ this.user.visitsMax | numbers }}
              <small> visits</small>
            </li>
            <li>
              <span>{{ this.user.views | numbers }}</span
              >/{{ this.user.viewsMax | numbers }} <small> views</small>
            </li>
            <li>
              <span>{{ this.user.reads | numbers }}</span
              >/{{ this.user.readsMax | numbers }} <small> reads</small>
            </li>
            <li>
              <span>{{ this.user.shares | numbers }}</span
              >/{{ this.user.sharesMax | numbers }} <small> shares</small>
            </li>
            <li>
              <span>{{ this.user.downloads | numbers }}</span
              >/{{ this.user.downloadsMax | numbers }}<small> downloads</small>
            </li>
            <li>
              <span>{{ this.user.money | numbers }}</span
              >/{{ this.user.moneyMax | numbers }}<small> money</small>
            </li>
            <li>
              <span>{{ this.user.crypto | numbers }}</span
              >/{{ this.user.cryptoMax | numbers }}<small> crypto</small>
            </li>
          </ul>
        </div>
        <div class="col col-sm-4">
          <div class="boosts">
            <div
              class="boost"
              nbTooltip="Enable to increase manual click value"
            >
              <button
                nbButton
                [status]="boost_manual ? 'success' : 'basic'"
                [disabled]="this.user.boost_manual ? false : true"
                (click)="toggleBoost('boost_manual', this.user.boost_manual)"
                size="large"
                fullWidth
              >
                <nb-badge
                  [text]="this.user.boost_manual || 0"
                  status="basic"
                  position="bottom right"
                ></nb-badge>
                <nb-icon icon="person-add"></nb-icon>
              </button>
            </div>
            <div
              class="boost"
              nbTooltip="Enable to increase analytics generation"
            >
              <button
                nbButton
                [status]="boost_analytics ? 'success' : 'basic'"
                [disabled]="this.user.boost_analytics ? false : true"
                (click)="
                  toggleBoost('boost_analytics', this.user.boost_analytics)
                "
                size="large"
                fullWidth
              >
                <nb-badge
                  [text]="this.user.boost_analytics || 0"
                  status="basic"
                  position="bottom right"
                ></nb-badge>
                <nb-icon icon="bar-chart-2"></nb-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <button
          nbButton
          [status]="reloading ? 'success' : 'danger'"
          class="reload"
          (click)="reload()"
          [disabled]="loading"
          nbTooltip="This will deposit your assets and start a new run (a way to advance in the game)"
        >
          <span>Restart</span>
          <nb-icon [icon]="reloading ? 'checkmark' : 'refresh'"></nb-icon>
        </button>

        <button
          nbButton
          status="primary"
          (click)="withdraw()"
          [disabled]="reloading || loading"
        >
          <span>Withdraw</span>
          <nb-icon icon="arrow-up"></nb-icon>
        </button>
        <button
          nbButton
          class="ml-2"
          status="primary"
          (click)="deposit()"
          [disabled]="reloading || loading"
        >
          <span>Deposit</span>
          <nb-icon icon="arrow-down"></nb-icon>
        </button>

        <nb-action
          icon="log-out"
          status="primary"
          (click)="logout()"
          nbTooltip="Log out"
          class="ml-2 logout"
        >
        </nb-action>
      </div>
    </div>
  </nb-card-body>
</nb-card>
