.wallet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: -10px;
}

.load {
  width: 100%;
  text-align: center;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

li span {
  font-family: "Bahnschrift";
  font-size: 1.1rem;
  font-weight: 700;
}

.logout {
  cursor: pointer;
  border: none !important;
}

.reload {
  margin-right: auto;
}
