@import '../../../themes';

.analytics-item span {
  padding: 6px 10px;
  font-family: "Bahnschrift";
  font-size: 1.5rem;
}

em {
  font-style: normal;
  display: inline-block;
  margin-left: 5px;
}


.analytics-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.analytics-actions {
  display: flex;
  align-items: center;
  justify-content: center;


}

nb-toggle {
  margin-bottom: -10px;
  margin-right: 15px;
}

.analytics-popover {
  padding: 10px;
}

.costs {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  li {
    white-space: nowrap;
  }
}

.produces {
  display: flex;
  align-items: center;

  h5 {
    margin-bottom: 0;
    margin-right: 5px;
  }
}
