<form class="form" [formGroup]="registerForm" (submit)="register()" novalidate>
  <input
    nbInput
    id="email"
    type="email"
    placeholder="E-mail"
    fullWidth
    autocomplete="email"
    formControlName="email"
  />
  <input
    nbInput
    id="password"
    type="password"
    placeholder="Password"
    autocomplete="off"
    formControlName="password"
    fullWidth
  />
  <div class="actions">
    <button
      nbButton
      status="primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </div>
</form>
