@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";
@import "~@nebular/theme/styles/themes/dark";
@import "~@nebular/theme/styles/themes/cosmic";

//$nb-themes: nb-register-theme((), dark, dark);
$nb-themes: nb-register-theme(
  (
    color-primary-100: #dfe6fd,
    color-primary-200: #c0ccfc,
    color-primary-300: #9faff6,
    color-primary-400: #8596ee,
    color-primary-500: #5e72e4,
    color-primary-600: #4455c4,
    color-primary-700: #2f3da4,
    color-primary-800: #1d2884,
    color-primary-900: #12196d,
    color-primary-transparent-100: rgba(94, 114, 228, 0.08),
    color-primary-transparent-200: rgba(94, 114, 228, 0.16),
    color-primary-transparent-300: rgba(94, 114, 228, 0.24),
    color-primary-transparent-400: rgba(94, 114, 228, 0.32),
    color-primary-transparent-500: rgba(94, 114, 228, 0.4),
    color-primary-transparent-600: rgba(94, 114, 228, 0.48),
    color-success-100: #d5fcdb,
    color-success-200: #abfac1,
    color-success-300: #7ff0a9,
    color-success-400: #5de19b,
    color-success-500: #2dce89,
    color-success-600: #20b181,
    color-success-700: #169477,
    color-success-800: #0e7769,
    color-success-900: #086260,
    color-success-transparent-100: rgba(45, 206, 137, 0.08),
    color-success-transparent-200: rgba(45, 206, 137, 0.16),
    color-success-transparent-300: rgba(45, 206, 137, 0.24),
    color-success-transparent-400: rgba(45, 206, 137, 0.32),
    color-success-transparent-500: rgba(45, 206, 137, 0.4),
    color-success-transparent-600: rgba(45, 206, 137, 0.48),
    color-info-100: #d4f4fe,
    color-info-200: #a9e6fe,
    color-info-300: #7ed2fd,
    color-info-400: #5ebdfb,
    color-info-500: #2a9cf9,
    color-info-600: #1e79d6,
    color-info-700: #155bb3,
    color-info-800: #0d4090,
    color-info-900: #082d77,
    color-info-transparent-100: rgba(42, 156, 249, 0.08),
    color-info-transparent-200: rgba(42, 156, 249, 0.16),
    color-info-transparent-300: rgba(42, 156, 249, 0.24),
    color-info-transparent-400: rgba(42, 156, 249, 0.32),
    color-info-transparent-500: rgba(42, 156, 249, 0.4),
    color-info-transparent-600: rgba(42, 156, 249, 0.48),
    color-warning-100: #feebd8,
    color-warning-200: #fed2b2,
    color-warning-300: #fdb28c,
    color-warning-400: #fc946f,
    color-warning-500: #fb6340,
    color-warning-600: #d7412e,
    color-warning-700: #b42520,
    color-warning-800: #911419,
    color-warning-900: #780c18,
    color-warning-transparent-100: rgba(251, 99, 64, 0.08),
    color-warning-transparent-200: rgba(251, 99, 64, 0.16),
    color-warning-transparent-300: rgba(251, 99, 64, 0.24),
    color-warning-transparent-400: rgba(251, 99, 64, 0.32),
    color-warning-transparent-500: rgba(251, 99, 64, 0.4),
    color-warning-transparent-600: rgba(251, 99, 64, 0.48),
    color-danger-100: #feded6,
    color-danger-200: #feb5ae,
    color-danger-300: #fc8687,
    color-danger-400: #f96776,
    color-danger-500: #f5365c,
    color-danger-600: #d22759,
    color-danger-700: #b01b55,
    color-danger-800: #8e114d,
    color-danger-900: #750a48,
    color-danger-transparent-100: rgba(245, 54, 92, 0.08),
    color-danger-transparent-200: rgba(245, 54, 92, 0.16),
    color-danger-transparent-300: rgba(245, 54, 92, 0.24),
    color-danger-transparent-400: rgba(245, 54, 92, 0.32),
    color-danger-transparent-500: rgba(245, 54, 92, 0.4),
    color-danger-transparent-600: rgba(245, 54, 92, 0.48),
    shadow: 0 0.1rem 1rem 0 rgba(44, 51, 73, 0.1),
    header-background-color: color-success-500,
    button-filled-text-transform: "none",
    button-hero-text-transform: "none",
    button-hero-shadow: "0 4px 6px rgba(50, 50, 89, .10)",
    actions-icon-color: text-basic-color,
    actions-divider-color: text-hint-color,
    font-family-secondary: "Bahnschrift",
    card-height-tiny: 11rem,
    card-height-small: 21.6rem,
    card-height-large: 34.5rem,
    select-min-width: 5rem
  ),
  dashclicker,
  default
);

$nb-themes: nb-register-theme(
  (
    color-basic-200: #616a86,
    color-success-100: #b2d1a0,
    color-warning-500: #fb6340,
    header-background-color: color-success-500,
    button-filled-text-transform: "none",
    button-hero-text-transform: "none",
    button-hero-shadow: "0 4px 6px rgba(50, 50, 89, .10)",
    actions-icon-color: text-basic-color,
    actions-divider-color: text-hint-color,
    font-family-secondary: "Bahnschrift",
    card-height-tiny: 11rem,
    card-height-small: 21.6rem,
    card-height-large: 34.5rem,
    select-min-width: 5rem
  ),
  cosmic,
  dark
);
